<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script>
    $(document).ready( () => {
      $("#sendmessage").submit(function( event ) {
        console.log( "Handler for .submit() called.", this.nick.value );
        $.ajax({
          type: "POST",
          url: "/send",
          data: $("#sendmessage").serialize(), // serializes the form's elements.
          success: function(data) {
            window.location.replace("/response/" + data);
          }
        });

        event.preventDefault();
      });
    })
  </script>
</head>
<body>
Send message:
<form id="sendmessage">
  <input type="text" name="nick" placeholder="nick"/><br/>
  <input type="text" name="message" placeholder="message"/><br/>
  <input type="submit" value="send"/>
</form>

</body>
</html>
