<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script>
    function getFormData($form){
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function(n, i){
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }
    $(document).ready( () => {
      $("#sendmessage").submit(function( event ) {
        $.ajax({
          type: "POST",
          url: "/send",
          data: getFormData($("#sendmessage")), // serializes the form's elements.
          success: function(data) {
            window.location.replace("/response/" + data);
          }
        });

        event.preventDefault();
      });
    })
  </script>
</head>
<body>
Send message:
<form id="sendmessage">
  <input type="text" name="target" placeholder="to nick"/><br/>
  <input type="text" name="message" placeholder="message"/><br/>
  <input type="hidden" name="sender" value="anon"/>
  <input type="submit" value="send"/>
</form>

</body>
</html>
