<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script>
  </script>
</head>
<body>
<form id="register" action="/register" method="post">
  <input type="text" name="nick" placeholder="your nick"/><br/>
  <input type="text" name="badgeid" placeholder="badge mac addr"/><br/>
  <input type="submit" value="send"/>
</form>
</body>
</html>
