<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script>


  </script>
</head>
<body>
    Waiting for response to <b><%= messageId %></b>.
    <pre><%= response %></pre>
</body>
</html>
